{:kotoba.app/latest "k51qzi5uqu5djscfrr5cgssbp6ekjoiuxctnt9eunqkfxowkuetg2lnlvzxh53", :kotoba.app/site-cid "bafybeigdghaqqpkqs74mpmryxlkj4ah2syui6bwyten5sregdx4lwxz6oy", :kotoba.app/id "cloud.itonami.app-air-sms", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5djscfrr5cgssbp6ekjoiuxctnt9eunqkfxowkuetg2lnlvzxh53", :published {:own-nodes {:cid "bafybeigdghaqqpkqs74mpmryxlkj4ah2syui6bwyten5sregdx4lwxz6oy", :ipns "k51qzi5uqu5djscfrr5cgssbp6ekjoiuxctnt9eunqkfxowkuetg2lnlvzxh53", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:53:30Z"}}}
